.v {
  max-width: 1200px;
  height: auto;
  border-radius:45px;
}
h1 {
  color: rgb(255, 255, 255);
  font-family:HGP行書体
}
header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color:  rgba;
  align-items: center;
  border-radius:20px;
  position:fixed
}
 
.title {
  margin-right: auto;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url("img/Kerbal Space Program 2024_08_11 15_31_40.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.bunone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
.otem {
  margin: 10px;
  background-color: rgba(46, 46, 46, 0.8);
  border-radius: 5em;
  width: 25%;
  text-align: center; 
}
p {
  color:rgb(255, 255, 255);
  font-family:游ゴシック;
  font-weight:bold
}
.toilet{
  text-decoration:none;
  color: skyblue;
}